.PlayerSelector {
    grid-area: PlayerSelector;
    font-size: 0.07em;
    border-style: double;
    padding: 5%;
    float: left;
    border-radius: 5%;
    overflow: scroll;
    z-index: 1;
}

.Player {
    height: 15%;
    display: grid;
    grid-template-columns: 85% 15%;
    grid-template-areas:
        "Name AddButton"
}

.Name {
    grid-area: Name;
}