.Menu {
    width: 15vw;
    height: 100vh;
    position: fixed;
    left: 100vw;
    background-color: black;
    border-radius: 2vw 0vw 0vw 2vw;
    border-style: solid;
    border-width: 1vw;
    border-color: var(--border-color);
    transition: left 0.5s;
    z-index: 51;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "SettingsButton"
        "EditPlayers"
        "Undo"
        "StatsButton"
        "ExitMenu";
}

.show {
   left: 85vw
} 

.menuOverlay {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-color: black;
    opacity: 0.6;
    z-index: 50;
}