.twoPlayer .EightballScoreDisplay {
    grid-area: EightballScoreDisplay;
    font-size: 0.04em;
    display: grid;
    grid-template-columns: 40% 10% 10% 40%;
    grid-template-areas:
        ". eightballIconLabel eightballScoreLabel ."
}

.threePlayer .EightballScoreDisplay {
    grid-area: EightballScoreDisplay;
    font-size: 0.04em;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-areas:
        ". eightballIconLabel eightballScoreLabel ."
}

.eightballIconLabel {
    grid-area: eightballIconLabel;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}

.eightballScoreLabel {
    grid-area: eightballScoreLabel;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourPlayer .playerTwo .EightballScoreDisplay,
.fourPlayer .playerFour .EightballScoreDisplay {
    grid-area: EightballScoreDisplay;
    font-size: 0.04em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "eightballScoreLabel eightballIconLabel"
}

.fourPlayer .playerOne .EightballScoreDisplay,
.fourPlayer .playerThree .EightballScoreDisplay {
    grid-area: EightballScoreDisplay;
    font-size: 0.04em;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "eightballIconLabel eightballScoreLabel"
}

.fivePlayer .EightballScoreDisplay {
    grid-area: EightballScoreDisplay;
    font-size: 0.04em;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-areas:
        ". eightballIconLabel eightballScoreLabel ."
}

.sixPlayer .EightballScoreDisplay {
    grid-area: EightballScoreDisplay;
    font-size: 0.04em;
    display: grid;
    grid-template-columns: 30% 20% 20% 30%;
    grid-template-areas:
        ". eightballIconLabel eightballScoreLabel ."
}
