.EightballToggle {
    grid-area: EightballToggle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ToggleButton {
    position: relative;
    font-size: 16vh;
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    outline: none;
    background-color: black;
    border: none;
}

.highlight {
    box-shadow: 0px 0px 20px 10px gold;
}

.normal {
    outline: none;
    box-shadow: none;
}

.emoji {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -44%);
}