.EightballToggle {
    grid-area: EightballToggle;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 3%;
    left: 3%;
}

.ToggleButton {
    position: relative;
    font-size: 10vh;
    border-radius: 50%;
    height: 9vh;
    width: 9vh;
    outline: none;
    background-color: black;
    border: none;
}

.highlight {
    box-shadow: 0px 0px 20px 10px gold;
}

.normal {
    outline: none;
    box-shadow: none;
}

.emoji {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%, -44%);
}