.TwoPlayer {
    display: grid;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
        "PlayerTag"
        "PlayerScore"
        "EightballScoreDisplay"
}

.ThreePlayer {
    display: grid;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas:
        "PlayerTag"
        "OpponentsSelector"
        "PlayerScore"
}

.FourPlayer {
    display: grid;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas:
        "PlayerTag"
        "OpponentsSelector"
        "PlayerScore"
}

.FivePlayer {
    display: grid;
    grid-template-rows: 20% 30% 40% 10%;
    grid-template-areas:
        "PlayerTag"
        "OpponentsSelector"
        "PlayerScore"
        "."
}

.playerOne {
    grid-area: playerOne;
}

.playerTwo {
    grid-area: playerTwo;
}

.playerThree {
    grid-area: playerThree;
}

.playerFour {
    grid-area: playerFour;
}

.playerFive {
    grid-area: playerFive;
}

.playerSix {
    grid-area: playerSix;
}