.twoPlayer .PlayerDisplay {
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas:
        "PlayerTag"
        "PlayerScore"
        "EightballScoreDisplay"
}

.threePlayer .PlayerDisplay {
    display: grid;
    grid-template-rows: 10% 20% 60% 10%;
    grid-template-areas:
        "PlayerTag"
        "OpponentsSelector"
        "PlayerScore"
        "EightballScoreDisplay"
}

.threePlayer .PlayerDisplay.playerTwo {
    border-left: dashed;
    border-right: dashed;
    border-color: var(--border-color);
    border-width: 0.001em;
}

.fourPlayer .PlayerDisplay.playerOne,
.fourPlayer .PlayerDisplay.playerThree  {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
        "PlayerTag PlayerTag"
        "OpponentsSelector PlayerScore"
        "EightballScoreDisplay PlayerScore"
}

.fourPlayer .PlayerDisplay.playerTwo,
.fourPlayer .PlayerDisplay.playerFour {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 20% 60% 20%;
    grid-template-areas:
        "PlayerTag PlayerTag"
        "PlayerScore OpponentsSelector"
        "PlayerScore EightballScoreDisplay "
}

.fourPlayer .PlayerDisplay.playerOne {
    border-right: dotted;
    border-bottom: dotted;
    border-width: 0.001em;
    border-color: var(--border-color);
}

.fourPlayer .PlayerDisplay.playerTwo {
    border-left: dotted;
    border-bottom: dotted;
    border-width: 0.001em;
    border-color: var(--border-color);
}

.fourPlayer .PlayerDisplay.playerThree {
    border-right: dotted;
    border-top: dotted;
    border-width: 0.001em;
    border-color: var(--border-color);
}

.fourPlayer .PlayerDisplay.playerFour {
    border-left: dotted;
    border-top: dotted;
    border-width: 0.001em;
    border-color: var(--border-color);
}

.fivePlayer .PlayerDisplay {
    position: relative;
    display: grid;
    grid-template-rows: 5% 15% 40% 20% 15% 5%;
    grid-template-columns: 25% 50% 25%;
    grid-template-areas:
        ". . ."
        "PlayerTag PlayerTag PlayerTag"
        ". PlayerScore ."
        ". PlayerScore ."
        ". EightballScoreDisplay ."
        ". . ."
}

.fivePlayer .PlayerDisplay.playerOne {
    border-right: dotted;
    border-bottom: dotted;
    border-width: 0.002em;
    border-color: var(--border-color);
}

.fivePlayer .PlayerDisplay.playerTwo {
    border-left: dotted;
    border-right: dotted;
    border-bottom: dotted;
    border-width: 0.002em;
    border-color: var(--border-color);
}

.fivePlayer .PlayerDisplay.playerThree {
    border-left: dotted;
    border-bottom: dotted;
    border-width: 0.002em;
    border-color: var(--border-color);
}

.fivePlayer .PlayerDisplay.playerFour {
    border-right: dotted;
    border-top: dotted;
    border-width: 0.002em;
    border-color: var(--border-color);
}

.fivePlayer .PlayerDisplay.playerFive {
    border-left: dotted;
    border-right: dotted;
    border-top: dotted;
    border-width: 0.002em;
    border-color: var(--border-color);
}

.playerOne {
    grid-area: playerOne;
}

.playerTwo {
    grid-area: playerTwo;
}

.playerThree {
    grid-area: playerThree;
}

.playerFour {
    grid-area: playerFour;
}

.playerFive {
    grid-area: playerFive;
}

.playerSix {
    grid-area: playerSix;
}

