.StatsHeader {
    grid-area: StatsHeader;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 20% 60% 20%;
    grid-template-areas: ". playerName .";
}

.playerName {
    width: 100%;
    height: 100%;
    grid-area: playerName;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.1em;
}