.AddPlayer {
    grid-area: AddPlayer;
    font-size: 0.03em;
    padding: 2%;
}

.AddPlayerInput {
    background-color: black;
    color: inherit;
    font-size: 1em;
    width: 80%;
    height: 30%;
    text-align: center;
}

.AddPlayerInputButton {
    background-color: black;
    font-size: 1em;
    border: none;
    color: springgreen;
    float: right;
    width: 16%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
}

.AddPlayerLabel {
   text-align: center;
}