.PlayerList {
    grid-area: PlayerList;
    font-size: 200%;
    border: yellowgreen;
    border-style: double;
    color: springgreen;
    padding: 5%;
    border-radius: 5%;
}

.RemovePlayer {
    background-color: black;
    font-size: 100%;
    border: none;
    color: red;
    float: right;
}