.PlayerList {
    grid-area: PlayerList;
    font-size: 0.07em;
    border-style: double;
    padding: 5%;
    border-radius: 5%; 
}

.PlayerList .Player {
    height: 15%;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas:
        "RemoveButton Name"
}

.PlayerList .Name {
    grid-area: Name;
    text-align: right;
}