.Scoreboard {
    height: 100%;
    width: 100%;
}

.twoPlayer {
    display: grid;
    grid-template-columns: 35% 10% 10% 10% 35%;
    grid-template-rows: 10% 60% 30%;
    grid-template-areas:
        ". . . . ."
        "playerOne playerOne dash playerTwo playerTwo"
        ". EightballToggle SettingsButton EditPlayers .";
}

.threePlayer {
    display: grid;
    grid-template-columns: 15% 27% 26% 27% 5%;
    grid-template-rows: 5% 30% 30% 30% 5%;
    grid-template-areas:
        ". . . . ."
        "SettingsButton playerOne playerTwo playerThree ."
        "EditPlayers playerOne playerTwo playerThree ."
        "EightballToggle playerOne playerTwo playerThree ."
        ". . . . .";
}

.fourPlayer {
    display: grid;
    grid-template-columns: 11% 33% 12% 33% 11%;
    grid-template-rows: 5% 35% 5% 35% 5% 15%;
    grid-template-areas:
        ". . . . ."
        ". playerOne . playerTwo ."
        ". . . . ."
        ". playerThree . playerFour ."
        ". . . . ."
        ". EightballToggle SettingsButton EditPlayers .";
}

.fivePlayer {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas:
        "playerOne playerTwo playerThree"
        "playerFour playerFive EightballToggle"
        "playerFour playerFive EditPlayers";
}

.dash {
    grid-area: dash;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
}