.Scoreboard {
    height: 100%;
    width: 100%;
}

.Scoreboard.twoPlayer {
    display: grid;
    grid-template-columns: 5% 40% 10% 40% 5%;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas:
        ". . . . ."
        ". pdplayerOne dash pdplayerTwo ."
        ". . . . .";
}

.Scoreboard.threePlayer {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas:
        ". . . . ."
        ". pdplayerOne pdplayerTwo pdplayerThree ."
        ". . . . .";
}

.Scoreboard.fourPlayer {
    display: grid;
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-areas:
        ". . . ."
        ". pdplayerOne pdplayerTwo ."
        ". pdplayerThree pdplayerFour ."
        ". . . .";
}

.Scoreboard.fivePlayer {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-areas:
        ". . . . ."
        ". pdplayerOne pdplayerTwo pdplayerThree ."
        ". pdplayerFour pdplayerFive . ."
        ". . . . .";
}

.Scoreboard.sixPlayer {
    display: grid;
    grid-template-columns: 5% 30% 30% 30% 5%;
    grid-template-rows: 5% 45% 45% 5%;
    grid-template-areas:
        ". . . . ."
        ". pdplayerOne pdplayerTwo pdplayerThree ."
        ". pdplayerFour pdplayerFive pdplayerSix ."
        ". . . . .";
}

.dash {
    grid-area: dash;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.4em;
}