.PlayerScore {
    background-color: black;
    color: inherit;
    grid-area: PlayerScore;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
}

.twoPlayer .PlayerScore {
    font-size: 0.4em;
}

.threePlayer .PlayerScore {
    font-size: 0.35em;
}

.fourPlayer .PlayerScore {
    font-size: 0.27em;
}

.fivePlayer .PlayerScore {
    font-size: 15vw;
}