.OpponentsSelector {
 grid-area: OpponentsSelector;
}

.OpponentsSelector.threePlayer {
    font-size: 0.03em;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: none;
    grid-template-areas:
        "opponentOne opponentTwo"
}

.OpponentsSelector.fourPlayer {
    font-size: 0.03em;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-rows: 33% 34% 33%;
    grid-template-areas:
        "opponentOne"
        "opponentTwo"
        "opponentThree"
}

.OpponentsSelector.fivePlayer {
    font-size: 0.03em;
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "opponentOne opponentTwo"
        "opponentThree opponentFour"
}

.OpponentsSelectorButton {
    background-color: black;
    border: none;
    outline: none;
    box-shadow: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: inherit;
}

.TwoOpponentsButton {
    font-size: 0.03em;
    position: relative;
    z-index: 1;
}

.ThreeOpponentsButton {
    font-size: 2vw;
    position: relative;
    z-index: 1;
}

.FourOpponentsButton {
    font-size: 2vw;
    position: relative;
    z-index: 1;
}