.BackButton {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11vmin;
    width: 11vmin;
    grid-area: BackButton;
}

.BackButtonButton {
    border-radius: 50%;
    height: 10vmin;
    width: 10vmin;
    font-family: inherit;
    outline: none;
    box-shadow: 0px 0px 1px 1px inset, 0px 0px 1px 1px;
    display: grid;
    grid-template-columns: 20% 20% 40% 20%;
    grid-template-rows: 19% 35% 30% 16%;
    grid-template-areas: 
    ". . . ."
    ". arrowHeadWrapper arrowBodyWrapper ."
    ". BackButtonText BackButtonText ."
    ". . . .";
}

.BackButton .arrowHeadWrapper {
    grid-area: arrowHeadWrapper;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackButton .arrowHead {
    grid-area: arrowHead;
    width: 0; 
    height: 0; 
    border-top: 2vmin solid transparent;
    border-bottom: 2vmin solid transparent;
    border-right: 2vmin solid var(--mainColor);
}

.BackButton .arrowBodyWrapper {
    position: relative;
    grid-area: arrowBodyWrapper;
    display: flex;
    justify-content: center;
    align-items: center;
}

.BackButton .arrowBody {
    position: absolute;
    left: 0px;
    width: 90%;
    height: 50%;
    background-color: var(--mainColor);
}

.BackButtonText {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: BackButtonText;
    font-size: 0.02em;
}