.Undo {
    grid-area: Undo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.UndoButton {
    border-radius: 50%;
    height: 15vh;
    width: 15vh;
    font-family: inherit;
    outline: none;
    box-shadow: none;
}