.PlayerTag {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: PlayerTag;
}

.two {
    font-size: 0.08em;
}

.three {
    font-size: 0.06em;
}

.four {
    font-size: 4vw;
}

.five {
    font-size: 4vw;
}

.six {
    font-size: 4vw;
}